/*Hoja de estilos by Cristian vega - Infinibyte EIRL*/
/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */

@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,300,700,300italic,400);
*{
    font-family: 'Roboto', sans-serif;
    line-height: 125%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
*:focus{
    outline: none;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}




.contenedor{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
div.clear{
    clear: both;
}
#raya-naranja{
    background-color: #dc853d;
    width: 100%;
    height: 3px;
}
#logo{
    float: left;
    width: 100%;
    max-width: 390px;
}
#top-social{
    float: right;
    margin: 55px 0;
}
.upper{
    text-transform: uppercase;
}
.centrar-texto{
    text-align: center;
}
/*colores*/
.naranja{
    color: orange;
}
.azul{
    color: #34518A;
}
/*titulos*/
.titulo1{
    font-size: 2.6rem;
}
.titulo2{
    font-size: 2.2rem;
    margin: 20px;
}
.titulo3{
    font-size: 1.8rem;
}
.titulo4{
    font-size:1.4rem;
}
/*Botones*/
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.boton-naranja{
    position: relative;
    display: block;
    margin: 10px auto;
    background-color: #ffa052;
    border: none;
    box-shadow: 0 4px 0 0 #d17a32;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    text-align: center;
    width: 90%;
    font-size: 1.4rem;
    font-weight: 500;
}
.boton-naranja:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #d17a32;
}
.boton-naranja:active{
    top: 4px;
    box-shadow: 0 0 0 0 #d17a32;
}

.menu{
    background: url(../img/menu-top.png) no-repeat center;
    width: 100%;
    height: 52px;
    display: table;
}
.menu > ul{
    display: table-cell;
    vertical-align: middle;
    padding-left: 35px;
}
.menu > ul li{
    display: inline-block;
    margin-left: 25px;
}
.menu > ul li img{
    margin-left: 5px;
}
.menu > ul a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.drop-menu{
    display: none;
    position: absolute;
    margin-top: 10px;
    z-index: 9999;
    background: url(../img/sub-menu.svg) no-repeat center;
    width: 600px;
    height: 40px;
    padding-top: 12px;
    padding-left: 35px;
}
.drop-menu li{
    display: table-cell;
    vertical-align: middle;
}
.drop-menu li > a{
    color: white;
    display: inline-block;
}

section#slider{
    overflow: hidden;
    width: 100%;
    height: 400px;
    background: url('../img/bg-slider.jpg') no-repeat;
}
.slider p.t1{
    font-size: 30px;
}
.slider p.t2{
    font-weight: bolder;
    font-size: 30px;
}
#separador{
    width: 100%;
    height: 25px;
    background: url('../img/dotted.png');
    background-size: 4px;
}
section#servicios{
    background: url(../img/bgmapa.png) no-repeat fixed center center;
    overflow: hidden;
}
#servicios .servicio{
    width: 40%;
    margin: 0 5%;
    float: left;
}
#servicios .servicio img{
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
#servicios .servicio h4{
    margin: 10px 0;
}
section#destacados{
    overflow: hidden;
    background: url('../img/dotted-blue.png');

}
h4.titulo-destacados{
    color: #345189;
    font-weight: 600;
    margin: 25px 0 5px 0;
}
#destacados .carrousel{
    padding: 25px 0;
    text-align: center;
}
#destacados .carrousel .slide:first-child{
    margin-left: 22px;
}
#destacados .cont-img-diag{
    width: 200px;
    height: 160px;
    background-color: white;
    margin-right: 20px;
    -webkit-transform: skewX(-13deg);
    -moz-transform: skewX(-13deg);
    -ms-transform: skewX(-13deg);
    -o-transform: skewX(-13deg);
}

#destacados .cont-img-diag img{
    position: absolute;
    max-width: 80%;
    height: 110px;
    left: 18px;
    top: 15px;
    -webkit-transform: skewX(13deg);
    -moz-transform: skewX(13deg);
    -ms-transform: skewX(13deg);
    -o-transform: skewX(13deg);
}
#destacados .descripcion-destacado{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 13px;
}


section#direccion{
    padding: 25px 0;
}
section#direccion .mapa{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 8px;
}
#direccion .mapa iframe{
    width: 100%!important;
}
#direccion .fabrica{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    margin-left: -8px;
    padding-left: 3%;
}

#direccion h3{
    margin-left: 0;
    font-weight: 600;
}
#direccion .calle span{
    font-weight: bold;
    margin-bottom: 15px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    color: #ffa052;
}

#direccion .calle p{
    margin-bottom: 15px;
    vertical-align: top;
    width: 60%;
    display: inline-block;
}

footer{
    width: 100%;
    background: url('../img/dotted-blue.png');

}
footer #texto-footer{
    padding: 20px 0;
    text-align: center;
    color: white;
}
footer a{
    color: white;
}


/*quienes somos*/

section#quienes-somos .img-quienes-somos{
    width: 50%;
}
#quienes-somos{
    text-align: justify;
}
#quienes-somos h3{
    font-size: 1.5rem;
    margin: 0 0 15px;
    color: white
}

.mision-cont{
    color: black;
    position: relative;
}
.imagen-m{
    position: absolute;
    display: inline-block;
    width: 295px;
    height: 270px;
    margin: 0 -2px;
    z-index: 999;
    background: url('../img/mision.png') -2px;
    top: 0;
    left: 0;
}
.imagen-m:after{
    content: "";
    position: absolute;
    z-index:99999;
    border-top: solid 24px transparent;
    border-bottom: solid 24px transparent;
    top:100px;
    left: 270px;
    border-right: 26px solid rgb(53, 82, 139);
}
.mision{
    display: inline-block;
    padding: 20px 20px 20px 320px;
    margin: 0 -2px;
    position: relative;
    width: 100%;
    min-height: 270px;
    color: white;
    background: rgb(53, 82, 139);
}
#quienes-somos h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bolder;
}
.imagen-v{
    position: absolute;
    display: inline-block;
    width: 295px;
    height: 270px;
    margin: 0 -2px;
    z-index: 999;
    background: url('../img/vision.png') -2px;
    right: 0;
    top: 0;
}
.imagen-v:after{
    content: "";
    position: absolute;
    z-index:99999;
    border-top: solid 24px transparent;
    border-bottom: solid 24px transparent;
    top:100px;
    right: 270px;
    border-left: 26px solid rgb(53, 82, 139);
}
.imagen-m, .mision{
    display: inline-block;
    color: white;
}


.vision-con .contenedor{
    margin-top: 25px;
    position: relative;
}
#quienes-somos .vision{
    display: inline-block;
    padding: 20px 320px 20px 20px;
    margin: 0 -2px;
    position: relative;
    width: 100%;
    min-height: 270px;
    color: white;
    background: rgb(53, 82, 139);
}
.separador-azul{
    height: 10px;
    background: rgba(52,81,138,0.5);
}
section#clientes{
    margin: 30px;
    text-align: center;
}

section#clientes img{
    margin-right: 40px;
}
section#clientes img:last-child{
    margin-right: 0;
}

section#eco-friendly{
    background: url('../img/dotted-blue.png');
    padding: 30px 0;
}
#eco-friendly .img-eco{
    display: inline-block;
    margin-right: -8px;
    vertical-align: top;
    width: 32%;
}
#eco-friendly .img-eco img{
    width: 100%;
}
#eco-friendly .texto-eco{
    display: inline-block;
    vertical-align: top;
    width: 68%;
    padding-left: 20px;
    color: white;
}
.cuentanos{
    margin: 40px auto;

}
.cuentanos p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 30px 0;
}
.cuentanos button{
    width: 30%;
}
.empresa{
    padding: 50px;
}

/*
#### PRODUCTOS
*/
.top-fondo-pro{
    width: 100%;
    background: url('../img/elegir-producto.png') ;
    background-size: cover;
    display: table;
    text-align: center;
    margin-top: 30px;
}

.top-fondo-pro>div{
    display: table-cell;
    vertical-align: middle;
}
.top-fondo-pro>div>span{
    border: solid 3px #F59E56;
    padding: 10px 25px;
    margin: 60px 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
}
#productos h2{
    margin: 30px 0;
    font-size: 1.5rem;
    text-align: center;
}
section.cont-productos{
    text-align: center;

    margin: 0 auto;
}
aside#menu-productos-movil{
    display: none;
}

aside#menu-productos{
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    width: 25%;
}
article#contenedor-productos{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin: 0 -2px;
    text-align: center;
}
.producto{
    width: 250px;
    text-align: center;

    display: inline-block;
    border: solid 2px #C2C2C2;
    margin-right: 20px;
    margin-bottom: 20px;
}
.producto img{
    max-width: 100%;
    max-height: 162px;
}
.producto .nombre-producto{
    background-color: #46474D;
    color: white;
    height: 70px;
    width: 100%;
    display: table;
}

.nombre-producto>span{
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
}
.nombre-producto>span>button{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #F27B22;
    box-shadow: 0 3px 0 #d17a32;
    border-radius: 2px;
    font-size: 0.8rem;
}
#menu-productos{
    text-align: left;
}
.tit-menu{
    width: 100%;
    background-color: #F48E3B;
    padding: 5px 0 5px 20px;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 15px;
}
#menu-productos form{
    background-color: #EFEFEF;
}
form .item-menu span{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
}
form .item-menu h3{
    display: inline-block;
    font-weight: 500;

}
form .item-menu{

}
.item-menu input[type='checkbox']{
    width: 15px;
    height:15px;
}
#menu-productos button{
    padding: 3px 0;
}

.cont-cont{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.filtrar {
    text-align: center;
}

#productos{
    text-align: center;
}
#boton-filtrar{
    display: none;
}





section#distribuidores .titulo-dis{
    background: url(../img/distribuidores-acero.jpg) center center;
    padding: 40px 0;
    margin-top: 30px;
    text-align: center;
}
.titulo-dis p{
    display: inline-block;
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
    border: solid 2px white;
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
#distribuidores .texto-dis{
    margin: 30px 0;
    padding: 0 10px;
}
.distribuidores-img{

}
.dist{
    width: 100%;
    height: 170px;
    overflow: hidden;
    margin-bottom: 30px;
}
.dist img{
    position: relative;
    margin-left: 50%;
    left: -355px;
}
.dist .hover{
    width: 710px;
    position: relative;
    margin-left: 50%;
    left: -355px;
    height: 170px;
    color: white;
    text-align: center;
    display: table;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.dist .hover span{
    display: table-cell;
    vertical-align: middle;
}
.dist .hover span strong{
    border: solid 2px white;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 2rem;
}
.dist:hover .hover{
    margin-top: -173px;
    z-index: 9999;
}



#contacto .cabecera{
    text-align: center;
}
section#contacto h1{
    padding: 15px 50px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border: 3px solid orange;
    font-size: 2rem;
    font-weight: bolder;
    margin: 25px 0;
}
#contacto .sub-tit{
    margin: 0 0 20px;
}
.form{
    vertical-align: middle;
    display: inline-block;
    margin-right: -8px;
    width: 50%;
}
.form input,
.form textarea{
    width: 400px;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 2px #b7b7b7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.form input:focus,
.form textarea:focus{
    border: solid 2px #939393;
}
.form h3{
    font-size: 1.3rem;

}

#contacto #direccion{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}
#contacto #direccion .fabrica{
    width: 100%;
}
#contacto .mapa iframe{
    width: 100%!important;
}
#contacto .mapa h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
#contacto .mapa{
    margin-top: 30px;
}

section#servicios{

}
.cabecera-serv{
    background: url(../img/servicios.jpg) center center;
    text-align: center;
    padding: 30px 0;
}
.cabecera-serv h1{
    display: inline-block;
    padding: 20px 30px;
    border: solid 2px white;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.4);
}
.ser-sub{
    margin: 25px auto;
    width: 90%;
    text-align: center;
}
.contenedor-serv{

}
.btn-blanco{
    border: solid 1px white;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.btn-blanco:hover{
    border: solid 1px white;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
}
.servicio-serv{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 5px;
    border: solid 1px rgb(202, 202, 202);
    overflow: hidden;
}
.servicio-serv img{
    width: 100%;
}
.hover-serv{
    height: 300px;
    width: 300px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color: white;
    position: relative;
    display: table;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.servicio-serv:hover .hover-serv{
    margin-top: -308px;
    z-index: 9999;
}
.hover-serv .centra-text{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.hover-serv h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
section.detalleProducto{
}
.tit-tab{
    margin-top: 20px;
    background: rgb(51, 81, 137);
    color: white;
    padding: 15px;

}
.descripcion-cont{
    border: solid 2px #BFBFBF;
    border-top: 0;
    padding: 15px;
}
.buscador{
    background: url(../img/dotted-blue.png);
    padding: 15px 0;
    margin: 15px 0;
}
.buscador input{
    border-radius: 5px;
    border: none;
    padding: 5px 0 5px 35px;
    background: white url("../img/lupa.svg") no-repeat scroll 10px;
    background-size: 18px;
}
.ficha-tecnica{
    display: inline-block;

}
.consultanos{
    background: url('../img/fondo-acero.jpg');
    width: 100%;
    background-size: cover;

}
.detalles #cotizar{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 20px 0 0;
}
.raya-azul{
    height: 40px;
    background: url('../img/dotted-blue.png');
}
.consultanos .botn{
    text-align: center;
    padding: 80px 20px;
    max-width: 625px;
    margin: 0 auto;
    font-size: 2rem
}


.item-form{
    margin-top: 5px;
    background: #fafafa;
    padding: 10px 10px;
}
.item-form:hover{
    background: #EDEDED;
}

.item-form span{
    display: inline-block;
    width: 250px;

}
.relacionado{
    font-size: 1.3rem;
    border-bottom: 2px solid #335189;
    margin-bottom: 19px;
    padding: 10px 0 3px;
    color: #335189;
}
.relacionado span{
    font-size: 0.7rem;
    color: #335189;
}
.ficha-top img{
    display: inline-block;
    width: 50%;
    border: solid 1px #BFBFBF;
    margin: 0 -2px;
}
.ficha-top .detalles{
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
    vertical-align: top;
    padding-left: 20px;
}
.ficha-top .detalles h1{
    font-size: 1.6rem;
    font-weight: normal;
    color: #555555;
}
.ficha-top .detalles ul{
    list-style: none;
    font-weight: 500;
    border-top: solid 2px #335189;;
    border-bottom: solid 2px #335189;
    padding: 13px 0;
    margin: 10px 0;
}
.ficha-top .detalles ul span{
    color: rgb(242, 123, 34);

}



.circle{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: green;
    display: inline-block;
    margin-left: 10px;
}
.circle.red{
    background: red;
}

.fondo-negro{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    overflow: hidden;
    display: table;
}
#formulario-producto{
    display: inline-block;
    background: white;
    border-radius: 5px;
    margin-top: 100px;
    border: 1px solid black;
    text-align: left;
    padding: 15px;
    position: relative;
    z-index: 99999;
}
#formulario-producto input{
    margin: 5px 0;
    border: solid 1px #ADADAD;
    border-radius: 3px;
    padding: 2px 0;
}
#formulario-producto input[name='nombre']{
    background: url('../img/nombre.svg') no-repeat 3px 2px;
    background-size: 18px;
    padding-left: 23px;
}
#formulario-producto input[name='email']{
    background: url('../img/correo.svg') no-repeat 3px 2px;
    background-size: 18px;
    padding-left: 23px;
}
#formulario-producto input[name='telefono']{
    background: url('../img/telefono.svg') no-repeat 1px 2px;
    background-size: 18px;
    padding-left: 23px;
}
#formulario-producto h3{
    display: block;
    color: orange;
    font-size:1.2rem;
}
#centrador{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
button#cerrar{
    position: absolute;
    margin-top: -45px;
    margin-left: -20px;
    border-radius: 50%;

    height: 30px;
    border: 0 solid;
    background: transparent;
}
button#cerrar:hover{
    color: red;
}
.hide{
    display: none;
}
.fondo-negro table{
    width: 100%;
    border: solid 1px #c2c2c2;
}
.fondo-negro table tr:nth-child(2n+0){
    background: #f3f3f3;
    padding-left: 5px;
}
#top-social img{
    display: inline-block;
    vertical-align: middle;
}
img#toggle-menu{
    width: 100px;
    display: none;
}
@media screen and (max-width: 800px){
    section.cont-productos{
        width: 100%;
        padding: 10px;
    }
    aside#menu-productos{
        display: none;
    }
    article#contenedor-productos{
        width: 100%;
    }
    #boton-filtrar{
        display: inline-block;
    }
    .ficha-top{
        padding: 0 10px;
    }
    .ficha-top img{
        vertical-align: middle;
    }
    .ficha-top .detalles{
        vertical-align: middle;
    }
    .imagen-m{
        margin: -140px -2px 0;
        top: 50%;
    }

}

@media screen and (max-width: 740px){
    img#toggle-menu{
        display: inline-block;
    }
    .menu{
        background: rgb(255, 161, 75);
        display: none;
        height: auto;
    }
    .menu > ul{
        padding: 0;
        display: block;
    }
    .menu ul li{
        display: block;
        margin: 0;
        line-height: 40px;
        padding-left: 30px;
        border-bottom:  2px solid #FF942B;
    }
    .drop-menu{
        position: relative;
        margin: 0;
        padding: 0;
        background: #F37423;
        height: auto;
    }
    .drop-menu li:last-child{
        border-bottom: none;
    }
    .drop-menu.nodisplay{
        opacity: 1;
        margin: 0;
        display: none;
    }
    section#slider{
        height: auto;
    }
    section#direccion .mapa {
        width: 100%;
        display: block;
    }
    #direccion .fabrica{
        width: 100%;
        padding: 0 30px;
    }
    #direccion .calle{
        width: 100%;
    }
    #direccion .calle span{
        display: block;
    }
    #direccion .calle p{
        display: block;
        width: 100%;
    }
    #eco-friendly .img-eco{
        display: none;
    }
    .ficha-top img{
        width: 	100%;
    }
    .ficha-top .detalles{
        width: 100%;
        padding: 10px 0;
    }
    .item-form select{
        width: 100%;
        margin-top: 10px;
    }
    .relacionados{
        text-align: center;
    }
    .form{
        width: 100%;
    }
    .form input, .form textarea{
        width: 100%;
    }
    #contacto #direccion{
        width: 100%;
    }


}
@media screen and (max-width: 520px){
    #servicios .servicio{
        width: 70%;
        margin: 0 auto;
        float: none;
    }
    #quienes-somos .mision,
    #quienes-somos .vision{
        width: 100%;
        margin: 0;
    }
    section#clientes img{
        margin: 0;
    }
    #eco-friendly .texto-eco{
        width: 100%;
        padding: 0 20px;
    }
    .cuentanos button{
        width: 85%;
    }
    #logo{
        float: none;
        margin: 20px auto 0;
        display: block;
    }
    #top-social{
        float: none;
        margin: 20px auto;
        display: block;
        text-align: center;
    }
    #quienes-somos .vision img,
    #quienes-somos .mision img{
        display: none;
    }
    .imagen-m{
        top: 10px;
        margin-top: 0;
        left: 50%;
        margin-left: -145px;
    }
    .imagen-m:after{
        border: none;
    }
    .mision{
        padding: 270px 10px 10px;
    }
    .imagen-v{
        top: 10px;
        margin-top: 0;
        left: 50%;
        margin-left: -145px;
    }
    .imagen-v:after{
        border: none;
    }
    #quienes-somos .vision{
        padding: 270px 10px 10px;
    }

    .mision h3, #quienes-somos .vision h3{
        text-align: center;
        margin-top: 20px!important;
    }

}
@media screen and (max-width: 360px){
    #quienes-somos .vision img,
    #quienes-somos .mision img{
        display: none;
    }
}

/*Estilos para e paginado*/
.pagination {
    padding: 3px;
    margin: 20px auto;
    text-align:center;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    text-decoration: none; /* no underline */
    color: #036CB4;
}

.pagination a:hover,
.pagination a:active {
    border: 1px solid #999;
    color: #666;
}
.pagination .current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #036CB4;
    font-weight: bold;
    background-color: #036CB4;
    color: #FFF;
}
.pagination .disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}
#tit-contacto{
    padding: 15px 50px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border: 3px solid orange;
    font-size: 2rem;
    font-weight: bolder;
    margin: 25px 0;
    color: blue;
}