#menu{
    background-color:white;
    color:white;
    font-size: 1.7rem;
    border-color:rgb(255, 161, 75) ;
}
#menu #bs-example-navbar-collapse-1 ul li:hover{
    background-color:rgb(255, 161, 75) ;
}
#menu #bs-example-navbar-collapse-1 .open{
    background-color:rgb(255, 161, 75)!important; ;
}
#logo{
background-color: #ffffff;
padding: 0;
}
#logo img{
height: 100%;
}

#servicios .panel-heading{
    background-color:rgb(255, 161, 75)!important;
    color:#FFF;
}
.page-header{
    color: rgb(255, 161, 75);
    font-weight: bold;
    border-bottom: 1px solid #315188;
}
#servicios .btn{
    position: relative;
    display: block;
    margin: 10px auto;
    background-color: #ffa052;
    border: none;
    box-shadow: 0 4px 0 0 #d17a32;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    text-align: center;
    width: 90%;
    font-size: 1.4rem;
    font-weight: 500;
}
#servicios .btn:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #d17a32;
}
#servicios .btn:active{
    top: 4px;
    box-shadow: 0 0 0 0 #d17a32;
}
footer{
    width: 100%;
    background: url('../img/dotted-blue.png');
    margin-bottom: 0;
    border-top: 5px solid #d17a32;
    margin-top: 0;
}
footer #texto-footer{
    padding: 20px 0;
    text-align: center;
    color: white;
}
footer a{
    color: white;
}
footer a:hover{
    color: white;
    text-decoration: underline;
}
footer h3{
    color: white;
    font-weight: bolder;
}
footer p{
    color: white;
    font-weight: bolder;
}
.btn-blanco{
    border: solid 1px white;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
}
.btn-blanco:hover{
    border: solid 1px white;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
}
#mapa{
    width: 100%!important;
    height: 350px!important;


}

#contacto .cabecera{
    text-align: center;
}
section#contacto h1{
    padding: 15px 50px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border: 3px solid orange;
    font-size: 2rem;
    font-weight: bolder;
    margin: 25px 0;
}
#contacto .sub-tit{
    margin: 0 0 20px;
}
.form{
    vertical-align: middle;
    display: inline-block;
    margin-right: -8px;
    width: 50%;
}
.form input,
.form textarea{
    width: 400px;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 2px #b7b7b7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.form input:focus,
.form textarea:focus{
    border: solid 2px #939393;
}
.form h3{
    font-size: 1.3rem;

}

#contacto #direccion{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}
#contacto #direccion .fabrica{
    width: 100%;
}
#contacto .mapa iframe{
    width: 100%!important;
}
#contacto .mapa h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
#contacto .mapa{
    margin-top: 30px;
}
#tit-contacto{
    padding: 15px 50px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border: 3px solid orange;
    font-weight: bolder;
    margin: 25px 0;
    color: #34518A;
}
.boton-naranja{
    position: relative;
    display: block;
    margin: 10px auto;
    background-color: #ffa052;
    border: none;
    box-shadow: 0 4px 0 0 #d17a32;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 10px 25px;
    text-align: center;
    width: 90%;
    font-size: 1.7rem;
    font-weight: bolder;
}
.boton-naranja:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #d17a32;
}
.boton-naranja:active{
    top: 4px;
    box-shadow: 0 0 0 0 #d17a32;
}

section#distribuidores .titulo-dis{
    background: url(../img/distribuidores-acero.jpg) center center;
    padding: 40px 0;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.titulo-dis p{
    display: inline-block;
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
    border: solid 2px white;
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}
#distribuidores .texto-dis{
    margin: 30px 0;
    padding: 0 10px;
}
.dist{
    width: 100%;
    height: 170px;
    overflow: hidden;
    margin-bottom: 30px;
}
.dist img{
    position: relative;
    margin-left: 50%;
    left: -355px;
}
.dist .hover{
    width: 710px;
    position: relative;
    margin-left: 50%;
    left: -355px;
    height: 170px;
    color: white;
    text-align: center;
    display: table;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.dist .hover span{
    display: table-cell;
    vertical-align: middle;
}
.dist .hover span strong{
    border: solid 2px white;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 2rem;
}
.dist:hover .hover{
    margin-top: -173px;
    z-index: 9999;
}
.cabecera-serv{
    background: url(../img/servicios.jpg) center center;
    text-align: center;
    padding: 30px 0;
}
.cabecera-serv h1{
    display: inline-block;
    padding: 20px 30px;
    border: solid 2px white;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: rgba(0,0,0,0.4);
}
.ser-sub{
    margin: 25px auto;
    width: 90%;
    text-align: center;
}
.servicio-serv{
    display: inline-block;
    margin-right: 9px;
    width: 280px;
    height: 200px;
    border: solid 1px rgb(202, 202, 202);
    overflow: hidden;
}
.servicio-serv img{
    width: 100%;
    height: 100%;
}
.hover-serv{
    height: 310px;
    width: 280px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color: white;
    position: relative;
    display: table;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.servicio-serv:hover .hover-serv{
    margin-top: -250px;
    z-index: 9999;
}
.hover-serv .centra-text{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.hover-serv h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#eco-friendly .img-eco{
    display: none;
}
#eco-friendly .texto-eco{
    width: 100%;
    padding: 0 20px;
}
section#eco-friendly{
    background: url('../img/dotted-blue.png');
    border-radius: 50px;
}
#eco-friendly .img-eco{
    display: inline-block;
    margin-right: -8px;
    vertical-align: top;
    width: 32%;

}
#eco-friendly .img-eco img{
    width: 100%;
    border-radius: 50px;
}
#eco-friendly .texto-eco{
    display: inline-block;
    vertical-align: top;
    width: 68%;
    padding-left: 20px;
    color: white;
}
/*
#### PRODUCTOS
*/
.top-fondo-pro{
    width: 100%;
    background: url('../img/elegir-producto.png') ;
    background-size: cover;
    display: table;
    text-align: center;
    margin-top: 30px;
}

.top-fondo-pro>div{
    display: table-cell;
    vertical-align: middle;
}
.top-fondo-pro>div>span{
    border: solid 3px #F59E56;
    padding: 10px 25px;
    margin: 60px 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
}
#productos h2{
    margin: 30px 0;
    font-size: 1.5rem;
    text-align: center;
}
section.cont-productos{
    text-align: center;

    margin: 0 auto;
}
aside#menu-productos-movil{
    display: none;
}

aside#menu-productos{
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    width: 25%;
}
article#contenedor-productos{
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin: 0 -2px;
    text-align: center;
}
.producto{
    width: 250px;
    text-align: center;

    display: inline-block;
    border: solid 2px #C2C2C2;
    margin-right: 20px;
    margin-bottom: 20px;
}
.producto img{
    max-width: 100%;
    max-height: 162px;
}
.producto .nombre-producto{
    background-color: #46474D;
    color: white;
    height: 70px;
    width: 100%;
    display: table;
}

.nombre-producto>span{
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
}
.nombre-producto>span>button{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #F27B22;
    box-shadow: 0 3px 0 #d17a32;
    border-radius: 2px;
    font-size: 0.8rem;
}
#menu-productos{
    text-align: left;
}
.tit-menu{
    width: 100%;
    background-color: #F48E3B;
    padding: 5px 0 5px 20px;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 15px;
}
#menu-productos form{
    background-color: #EFEFEF;
}
form .item-menu span{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
}
form .item-menu h3{
    display: inline-block;
    font-weight: 500;

}
.item-menu input[type='checkbox']{
    width: 15px;
    height:15px;
}
#menu-productos button{
    padding: 3px 0;
}

.cont-cont{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.filtrar {
    text-align: center;
}

#productos{
    text-align: center;
}
#boton-filtrar{
    display: none;
}
#contenedor-productos .panel-body{
    background: #1A508C;
    color: #ffffff;
    font-weight: bolder;
}
#contenedor-productos .panel-body .btn{

    font-weight: bolder;
}
section.detalleProducto{
}
.tit-tab{
    margin-top: 20px;
    background: rgb(51, 81, 137);
    color: white;
    padding: 15px;

}
.descripcion-cont{
    border: solid 2px #BFBFBF;
    border-top: 0;
    padding: 15px;
}
.buscador{
    background: url(../img/dotted-blue.png);
    padding: 15px 0;
    margin: 15px 0;
}
.buscador input{
    border-radius: 5px;
    border: none;
    padding: 5px 0 5px 35px;
    background: white url("../img/lupa.svg") no-repeat scroll 10px;
    background-size: 18px;
}
.ficha-tecnica{
    display: inline-block;

}
.consultanos{
    background: url('../img/fondo-acero.jpg');
    width: 100%;
    border-top: 5px solid #d17a32;
    background-size: cover;
}
.detalles #cotizar{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 20px 0 0;
}
.raya-azul{
    height: 40px;
    background: url('../img/dotted-blue.png');
}
.consultanos .botn{
    text-align: center;
    padding: 80px 20px;
    max-width: 625px;
    margin: 0 auto;
    font-size: 2rem
}


.item-form{
    margin-top: 5px;
    background: #fafafa;
    padding: 10px 10px;
}
.item-form:hover{
    background: #EDEDED;
}

.item-form span{
    display: inline-block;
    width: 250px;

}
.relacionado{
    font-size: 1.3rem;
    border-bottom: 2px solid #335189;
    margin-bottom: 19px;
    padding: 10px 0 3px;
    color: #335189;
}
.relacionado span{
    font-size: 0.7rem;
    color: #335189;
}
.ficha-top img{
    display: inline-block;
    width: 50%;
    border: solid 1px #BFBFBF;
    margin: 0 -2px;
}
.ficha-top .detalles{
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
    vertical-align: top;
    padding-left: 20px;
}
.ficha-top .detalles h1{
    font-size: 1.6rem;
    font-weight: normal;
    color: #555555;
}
.ficha-top .detalles ul{
    list-style: none;
    font-weight: 500;
    border-top: solid 2px #335189;;
    border-bottom: solid 2px #335189;
    padding: 13px 0;
    margin: 10px 0;
}
.ficha-top .detalles ul span{
    color: rgb(242, 123, 34);

}
#myModal{

}
.modal-header{
    background: #4972b2; color: #fff
}
.modal-header button{
    color: #fff;
}
.modal-header h4{
    text-align:center;
}
.fondo-gris{
    background: #F2F2F2;
}
